{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }} <!-- it adds a CSRF token. It's for security -->
            <fieldset class="form-group"> <!-- The <fieldset> tag is used to group related elements in a form. The <fieldset> tag draws a box around the related elements. -->
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }} <!-- this is basically picking the form variable from the app.route('register') fxn and then in that it's grabbing the username field from the RegistrationForm() fxn and from that field it will pick up the label 'Username'. We can mention a bootstrap class for styling, which we've done so here -->
                    <!-- form field validation section -->
                    {% if form.username.errors %} <!-- this will first see if there are any errors while validating the username field. Eg - username entered is only 1 character long then this condition is true -->
                        {{ form.username(class="form-control form-control-lg is-invalid") }} <!-- is-invalid is a bootstrap class -->
                        <div class="invalid-feedback"> <!-- this class will ensure that your error from list of errors received is printed in error-->
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span> <!-- The <span> tag is much like the <div> element, but <div> is a block-level element and <span> is an inline element. -->
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                    <!-- end of form field validation section -->
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }} 
                     <!-- form field validation section -->
                     {% if form.email.errors %} 
                     {{ form.email(class="form-control form-control-lg is-invalid") }} 
                     <div class="invalid-feedback"> 
                         {% for error in form.email.errors %}
                             <span>{{ error }}</span> 
                         {% endfor %}
                     </div>
                     {% else %}
                         {{ form.email(class="form-control form-control-lg") }}
                     {% endif %}
                     <!-- end of form field validation section -->
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }} 
                     <!-- form field validation section -->
                     {% if form.password.errors %} 
                     {{ form.password(class="form-control form-control-lg is-invalid") }} 
                     <div class="invalid-feedback"> 
                         {% for error in form.password.errors %}
                             <span>{{ error }}</span> 
                         {% endfor %}
                     </div>
                     {% else %}
                         {{ form.password(class="form-control form-control-lg") }}
                     {% endif %}
                     <!-- end of form field validation section -->
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }} 
                     <!-- form field validation section -->
                     {% if form.confirm_password.errors %} 
                     {{ form.confirm_password(class="form-control form-control-lg is-invalid") }} 
                     <div class="invalid-feedback"> 
                         {% for error in form.confirm_password.errors %}
                             <span>{{ error }}</span> 
                         {% endfor %}
                     </div>
                 {% else %}
                     {{ form.confirm_password(class="form-control form-control-lg") }}
                 {% endif %}
                 <!-- end of form field validation section -->
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}                    
                </div>
            </fieldset>
        </form>
    </div>
    <div class="border-top pt-3 mb-4">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Sign in</a>
        </small>
    </div>
{% endblock content %}  
